<main>
  <h3>Hello <%= @user.email %></h3>
  <ul>
    <li>Title: <%= @book.title %></li>
    <li>Year: <%= @book.year %></li>
    <li>Author: <%= @book.author.full_name %></li>
    <li>Publication date: <%= @book.published_date%></li>
    <li>Isnb: <%= @book.isbn %></li>
    <li>Language: <%= @book.language %></li>
    <li>Preview link: <%= @book.preview_link %></li>
    <li>Info link: <%= @book.info_link %></li>
  </ul>
</main>